<%- include('./partials/header') %>
<%- include('./partials/navbar') %>


<div class="profile">
    <div class="left">
        <h3>Name : <%=user.name%></h3>
        <h4>Email : <%=user.email%></h4>
        <form action="/password/change" method="post" class="change-password">
            <div class="pc">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="pc">
                <label for="password-again">Confirm Password</label>
                <input type="password" name="password-again" id="password-again" required>
            </div>
            <button class="btn">Change</button>
        </form>
    </div>
    <div class="right">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE5fPhctwNLodS9VmAniEw_UiLWHgKs0fs1w&usqp=CAU" alt="profile-image">
        <form action="">
            <button class="btn">Change Image</button>
        </form>
    </div>
</div>

<div class="my-items">
    <div class="my-lost-items">

    </div>
    <div class="my-found-items">

    </div>
</div>


<%- include('./partials/footer') %>